body{
    background-color: rgb(71, 197, 255)
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}
.wrapper{
    padding: 2rem;
    text-align: center;
}
/* .messages{
    align-items: center;
} */
header{
    text-align: center;
}
footer{
    text-align: center;
}