body {
    margin: 0;
    padding: 25px;
    background-color: #9DDBAD;
    background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
    color: #040403;
    font-size: 20px;
    /* background: linear-gradient(to right, red, violet); */

}
body.dark-mode {
    background-color: #154452;
    color: white;

}
h4{
    text-decoration: underline;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

header{
    text-align: center;
}
footer{
    text-align: center;
}
td,th{
    border: solid;
}
.messages{
    text-align: center;
    color: #bd2c2c;
    background-color: #df9e9e;
}
img{
    width: 150px;
    border-radius: 25%;
    padding-bottom: 1rem;
}
label{
    font-style: italic ;
    font-size: x-large;
}
.success{
    color: #0ca30c;
}
input{
    border-radius: 50%;
}