<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1> Welcome,{{user.firstName}}!</h1>
        <h1>{{user.firstName}}'s Favorite Movies</h1>
        <nav>
            <a href="/logout">Log Out</a>
        </nav>
    </header>
    
    <div class="main">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies%}
                <tr>
                    <td>{{movie.id}}</td>
                    <td>{{movie.title}}</td>
                    <td>{{movie.release_date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td><a href="/{{movie.id}}">Show</a>|<a href="/{{movie.id}}/edit">Edit</a>|<a href="/{{show.id}}/delete">Delete</a></td>  
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
</body>
<footer>

</footer>
</html>