<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Movie Details</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Movie{{movie.id}}</h1>
    </header>
    <div class="wrapper">
        <h4>Title</h4>
        <p>{{ movie.title }}</p>
        <h4>Network</h4>
        <p>{{ movie.network }}</p>
        <h4>Release Date</h4>
        <p>{{ movie.release_date }}</p>
        <h4>Description</h4>
        <p>{{ movie.description }}</p>    
        <a href="{{ movie.id }}/edit">Edit</a> | <a href="dashboard/{{ movie.id }}/delete">Delete</a>
    </div>
    
</body>
</html>